<div class='page-topbar-h '>
 <div class='quick-area'>
<nav class="info-menu navbar navbar-expand-md navbar-dark ">
   <span><img src="./assets/images/logo-folded.png" class="ico-icon-o" alt=""> </span>
  <a class="navbar-brand" href="{{baseurl}}">Craft Melon</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefaulttop" aria-controls="navbarsExampleDefaulttop"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse topmenubk" id="navbarsExampleDefaulttop">
   

    <ul class="nav navbar-nav navbar-right info-menu">
       <!-- <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" href="/">Home</a>
      </li> -->
      <!--<li  class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-linkh"  href="#main" >Home</a>
      </li>-->

      <li  class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-linkh"  href="#tokensale" >Token Sale</a>
      </li>

      <li  class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-linkh" href="#roadmap">Roadmap</a>
      </li>
      <li  class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-linkh" href="#team">Team</a>
      </li>



      <li class="nav-item dropdown dropcol" >
        <a class="nav-linkh dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More 
        </a>
        <div class="dropdown-menu dropcol" aria-labelledby="navbarDropdown">
          <a class="dropdown-item nav-linkh" href="#video">Intro Video</a>
          <a class="dropdown-item nav-linkh" href="#faq">FAQ</a>
          
        </div>

      </li>
      

      <li  class="nav-item">
      <a class="nav-linkh btnst btn-outline" href="{{baseurl}}/login">login</a>
    </li>
     <li  class="nav-item">
      <a class="nav-linkh btnst btn-outline" href="{{baseurl}}/register">Sign Up</a>
    </li>

    </ul>

  </div>
</nav>

</div>

</div>

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>